@model HayvanBarınagi.Models.Admin

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Travel Guide Responsive Widget Template | Home :: w3layouts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Travel Guide, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup
Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="~/web2/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

</head>
<body>
    <div class="child-main">
        <ul class="address">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit" id="formEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Kullanici" class="control-label"></label>
                            <input asp-for="Kullanici" class="form-control" />
                            <span asp-validation-for="Kullanici" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sifre" class="control-label"></label>
                            <input asp-for="Sifre" class="form-control" />
                            <span asp-validation-for="Sifre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="email" class="control-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="userType" class="control-label"></label>
                            <input asp-for="userType" class="form-control" />
                            <span asp-validation-for="userType" class="text-danger"></span>
                        </div>
                        <script>
                            if (localStorage.getItem("isAdmin") == "true") {
                                var f = document.getElementById("formEdit");
                                f.innerHTML += "<div class='form-group form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' data-val='true' data-val-required='The isActive field is required.' id='isActive' name='isActive' value='true'>" + "isActive" + "</input></label></div>";

                            }
                        </script>
                        <div class="form-group">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                            <a asp-action="Index">Kullanıcı Geri Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </ul>
    </div>
    <div class="clear"></div>
</body>
</html>

